body, html {
    background: linear-gradient(120deg, #FF9393, #FFE96F);
    height: 100%;
    font-family: "Indie Flower";
    color: white;
    overflow: hidden;
  }
  
  h1 {
    margin-top: 20%;
    text-align: center;
    font-size: 50px;
  }
  
  .panda {
    display: flex;
    justify-content: center;
    margin: 75px;
    animation-name: bounce;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  
  .head {
    width: 230px;
    height: 200px;
    border: 1px solid white;
    background: #ECEFF1;
    border-radius: 42%;
    box-shadow: 4px 4px 75px 20px #eedd82, -4px -4px 75px 20px #eedd82;
  }
  
  .ear {
    position: relative;
    width: 90px;
    height: 60px;
    border: 1px solid transparent;
    background: black;
    border-radius: 50% 50% 15% 15%;
    transform: rotate(-30deg);
    top: -13%;
    left: -5%;
  }
  
  .ear.right {
    position: relative;
    top: -43%;
    left: 66%;
    transform: rotate(30deg);
  }
  
  .eye {
    position: relative;
    top: -25%;
    left: 10%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid transparent;
    background: black;
  }
  
  .eye.right {
    position: relative;
    left: 67%;
    top: -50%;
  }
  
  .eye:after {
    display: block;
    content: "";
    position: relative;
    width: 10px;
    height: 10px;
    border: 1px solid transparent;
    background: #ECEFF1;
    top: 15%;
    left: 15%;
    border-radius: 50%;
  }
  
  .mouth {
    position: relative;
    width: 10%;
    height: 10%;
    top: -50%;
    left: 45%;
    border-radius: 15% 15% 70% 70%;
    border: 1px solid transparent;
    background: black;
  }
  
  @keyframes bounce {
    0% {
      transform: rotate(15deg);
    }
    50% {
      transform: rotate(-15deg);
    }
    100% {
      transform: rotate(15deg);
    }
  }